  <nav class="navbar navbar-toggleable-sm bg-faded">
  <div class="container-fluid">
  <a class="navbar-brand" href="#">Logixal</a>
  <a href="#" type="button" ng-click="Ham.click()" class="navbar-toggler navbar-toggler-right" data-toggle="collapse"><i class="fa fa-reorder" aria-hidden="true"></i></a>
	  
    <div  ng-class="{show:Ham.showMenu}" class="navbar-collapse collapse show">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Lines of Business<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#"><i class="fa fa-bank" aria-hidden="true"></i>Digital Banking Solutions</a></li>
            <li><a href="#">Digital Commerce Solutions</a></li>
            <li><a href="#">Business Process Management (BPM)</a></li>
			<li><a href="#">Application Management Services</a></li>
          </ul>
        </li>
        <li><a href="#">Accelerator and Widgets</a></li>
        <li><a href="#">About Us</a></li>
		<li><a href="#">Resources</a></li>
		<li><a href="#">Work with us</a></li>
      </ul>
      <!--<ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="fa fa-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="fa fa-"></span> Login</a></li>
      </ul>-->
    </div>
  </div>
  </nav>